img {
  border: 3px black solid;
  border-radius: 50%
  margin: 5px 5px 5px 5px;
  height: 111px;
}

#emu {
  border: 5px solid black;
  align-self: center;
  align-content: center;
  margin: 0% 33% 0% 33%;
}
