body {
  background: url("../img/bg.gif");
}

.container {
  width: 799px;
  background: white;
  color: #7c3404;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
}

.textarea {
  width: 80%;
  padding-left: 20px;
  padding-bottom: 20px;
}
